<%= content_tag :div, class: "user-container", id: "user-#{user.id}" do %>
  <div class="user-image">
    <%= image_tag('https://previews.123rf.com/images/pioneer111/pioneer1111310/pioneer111131000002/22706571-sunflower-isolated-on-white-background-with-clipping-path-.jpg', class:'user-img') %>
  </div>
  <div class="user-info">
    <div class="user-name">
      <%= user.name %>
    </div>
    <div class="user-options">
      <div>Following you</div>
      <div class='followers-number'><%= user.followers.count %> Followers</div>
    </div>
    <div>
      <%= link_to "Follow", user_add_follower_path(user), method: :put, class: 'btn btn-info', remote: true %>
      <%= link_to "Say Hi", class: 'btn btn-danger' %>
    </div>
  </div>
</div>
<% end %>
